@model AdminSiteUseMVC.ViewModel.Admin.ChangePasswordViewModel
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "ForgotPassword";

}
<div class="container">
    <div class=" row justify-content-center my-2 ">
        <div class="card col-lg-4 col-md-6 col-sm-9 py-3 mt-2 ">


            <div class="my-3" style="border-bottom:gray 1px dotted;">

                <h4 class="my-3 text-dark">@localizer["Change Your Password"]</h4>

            </div>
            @if (Model?.IsSuccess== true)
            {
                <div class="alert alert-success" role="alert">
                    <p>
                        @localizer["You have updated your password successfully."]
                    </p>
                </div>
            }
            else
            {
                @*<form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />
            <div class="form-group">
            <label asp-for="NewPassword" class="control-label"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="ConfirmNewPassword" class="control-label"></label>
            <input asp-for="ConfirmNewPassword" class="form-control" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
            <input type="submit" value="Reset password" class="btn btn-primary" />
            </div>
            </form>*@
                <form asp-action="ChangePassword" class="mx-2 px-2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">

                        <label asp-for="CurrentPassword" class="form-label">@localizer["Current Password"]</label>
                        <!-- <i class="iconn fa-solid fa-lock fa-lg mx-2"></i> -->
                        <input asp-for="CurrentPassword" type="password" class="form-control px-5">
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        <small>Make it a good one!</small>
                    </div>
                    <div class="mb-3">

                        <label asp-for="NewPassword" class="form-label">@localizer["New Password"]</label>
                        <!-- <i class="iconn fa-solid fa-lock fa-lg mx-2"></i> -->
                        <input asp-for="NewPassword" type="password" class="form-control px-5">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                        <small>Make it a good one!</small>
                    </div>
                    <div class="mb-3">

                        <label asp-for="ConfirmNewPassword" class="form-label">@localizer["Confirm New Password"]</label>
                        <!-- <i class="iconn fa-solid fa-lock fa-lg mx-2"></i> -->
                        <input asp-for="ConfirmNewPassword" type="password" class="form-control px-5">
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        <small>Make it match the good one!</small>

                    </div>


                    <div class="row">
                        <button type="submit" class="mx-2">Set Password & @localizer["Continue"]<i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </form>
            }

        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<style>
    body {
        background-color: #F0F1F3;
    }

    .card {
        background-color: white;
        border-radius: 25px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
    }

    h6,
    h1 {
        color: #FAB005;
        font-family: cursive;
    }

    label,
    h4,
    p {
        font-family: cursive;
        color: #183153;
    }

    input {
        border: 10px #183153;
    }

    .icon {
        position: absolute;
        top: calc(43%);
        left: 1.8rem;
    }

    .iconn {
        position: absolute;
        top: calc(58%);
        left: 1.8rem;
    }



    a:hover {
        color: #183153;
    }

    button {
        border-radius: 10px;
        background-color: #FFD43B;
        height: 50px;
        border-top: 2px solid #183153;
        border-left: 2px solid #183153;
        border-right: 2px solid #183153;
        border-bottom: 8px solid #183153;
        font-family: cursive;
        font-weight: bold;
        font-size: 16px;
        color: #183153;
    }

        button:hover {
            background-color: #FAB005;
        }
</style>