@model AdminSiteUseMVC.ViewModel.Admin.ForgotPasswordModel
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = null;
}
@*<div class="container">
    <div class="row">
        <div class="col-md-4 offset-4">
            @if (Model?.EmailSent == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>
                       If You Are Registered With Us" <br />
                       We Have Sent An Email on Your Registered Email Id
                    </p>
                </div>
            }
            else
            {
                <p>Forgot Your Password? No Worries You Can Reset It Easily.</p>
                <form asp-action="ForgotPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Continue</button>
                    </div>
                </form>
            }
            <div>
                <p>Back To<a asp-action="LogIN" asp-controller="AdminAccount">Login</a></p>
            </div>
        </div>

    </div>
 </div>*@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/adc5c6a0d2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
    <style>
        body {
            background-color: #F0F1F3;
        }

        .card {
            background-color: white;
            border-radius: 25px;
        }

        h6,
        h1 {
            color: #FAB005;
            font-family: cursive;
        }

        label,
        h4,
        a,
        p {
            font-family: cursive;
            color: #183153;
        }

        input {
            border: 10px #183153;
        }

        .icon {
            position: absolute;
            top: calc(43%);
            left: 1.8rem;
        }

        .iconn {
            position: absolute;
            top: calc(58%);
            left: 1.8rem;
        }

        a {
            text-decoration: underline dotted;
            color: #4993DB;
        }

            a:hover {
                color: #183153;
            }

        button {
            border-radius: 10px;
            background-color: #FFD43B;
            height: 50px;
            border-top: 2px solid #183153;
            border-left: 2px solid #183153;
            border-right: 2px solid #183153;
            border-bottom: 8px solid #183153;
            font-family: cursive;
            font-weight: bold;
            font-size: 16px;
            width: 100%;
            color: #183153;
        }

            button:hover {
                background-color: #FAB005;
            }
    </style>
</head>

<body>
    @if (Model?.EmailSent == true)
    {
        <div class="container">
            <div class=" row justify-content-center my-4 ">
                <div class="card col-lg-4 col-md-6 col-sm-9 ">
                    <div class="row card" style="background-color:#FFD43B ;height:200px;text-align:center">
                        <h1><i style="font-size: 100px;" class="mt-5 fa-solid fa-envelope-open-text text-dark"></i></h1>
                    </div>
                    <div class="row card" style="background-color:#ffff ;height:200px ;border: none;">

                        <p>
                            @localizer["If You Are Registered With Us"]<br />
                            @localizer["We Have Sent An Email on Your Registered Email Id"]
                        </p>
                    </div>


                </div>
            </div>
        </div>
    }else{
    <div class="container">
        <div class=" row justify-content-center my-4 ">
            <div class="card col-lg-4 col-md-6 col-sm-9 py-5 ">
                <div style="text-align: center;">
                </div>
                <div style="text-align: center;">

                    <img src="/assets/img/think.jpg" alt="" srcset="">
                </div>

                <div style="text-align: center;">

                    <h4 class="mt-4 text-dark">Forgot Your Password?</h4>

                </div>
                <div style="text-align: center;">

                        <p class="mt-4 text-dark">@localizer["Forgot Your Password?"]<br>@localizer[" No Worries You Can Reset It Easily."]</p>

                </div>
                    <form class="mx-3" asp-action="ForgotPassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3 ">

                            <label asp-for="Email" class="form-label">Email Address</label>

                            <input asp-for="Email" type="email" class="form-control px-5" placeholder="e.g. Example@gmail.com">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>



                        <button type="submit" class="">@localizer["Email Some Help"]<i class="fa-solid fa-arrow-right"></i></button>

                </form>
                    <div class="mt-3" style="text-align: center;">
                        <p>@localizer["Back To"]<a asp-action="LogIN" asp-controller="AdminAccount">@localizer["Sign In"]</a></p>
                    </div>
            </div>
        </div>
    </div>
    }
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>
  
